.bgphoto{
  background-image: url('../assets/slate1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: 'CustomFont', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
 
}
