h1{
    text-align: center;
}
.tile {
    color: #ffffff;
    background-image: url("https://media1.popsugar-assets.com/files/thumbor/UBSK5ywE4B_zKbw9lGaT_DaLos4/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2020/04/08/960/n/1922507/c39129f5495d5fb5_game_of_thrones/i/Game-Thrones-Zoom-Background.jpg");
    text-align: center;
}